@import 'fonts.css';

body {
  background-color: rgb(40, 44, 53);
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-family: 'Inter Bold';
  font-size: 40px;
}

h2::first-letter {
  text-transform: capitalize;
}

h3 {
  font-family: 'PT Regular';
  color: #d6d6d6;
  font-size: 20px;
}

a {
  font-family: 'Inter Extra Bold';
  color: rgb(208, 208, 208);
  font-size: 24px;
  z-index: 1;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #b2dcfc;
}

.post-card {
  padding: 20px;
  border-radius: 20px;
}

.post-card:hover {
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255, 0.2);
}

.padding-20 {
  padding: 20px;
}
