@import 'fonts.css';
@import 'animations.css';
@import 'post.css';
@import 'header.css';
@import 'home.css';

:root {
  --bg-color: rgb(27, 29, 35);
  --max-width: 55rem;
  --neon: #82f9ff;
  --light-blue-09: rgba(129, 213, 255, 0.9);
  --light-blue-05: rgba(129, 213, 255, 0.5);
  --light-yellow: #ffffb4;
  --body-font-family: 'Merriweather Sans Light';
  --body-font-size: 1.1rem;
  --border-radius: 0.5rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  max-width: var(--max-width);
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

.date {
  font-family: 'Inter Regular';
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.1rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}
