@import 'fonts.css';
@import 'flicker.css';
@import 'logo.css';
@import 'post-card.css';

header {
  margin-top: 20px;
  padding: 50px 20px 50px 20px;
  display: flex;
  justify-content: left;
}

header .top {
  justify-content: left;
  display: flex;
}

header .top .title {
  color: white;
  text-transform: uppercase;
  font-family: 'Bangers Regular';
  font-size: 48px;
}

header .bottom {
  font-family: 'Inter Regular';
  font-size: 16px;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

body {
  background-color: rgb(40, 44, 53);
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
}

.yellow {
  color: #f5ca2a;
}

.neon {
  color: #82f9ff;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

p {
  font-family: 'Merriweather Sans Light';
  color: #e8e8e8;
  font-size: 18px;
  text-align: justify;
  line-height: 2;
  letter-spacing: 1px;
}

figure {
  margin: 40px 0 20px 0px;
  font-size: 18px;
  background-color: #191d27;
  border-radius: 0.5rem;
  border: 1px solid rgb(51, 84, 154);
}

pre {
  overflow-x: auto;
  background-color: #191d27;
}

code {
  background-color: #191d27;
  font-size: 18px;
}

figure pre code span {
  margin-top: 0.7rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin: 0.2rem 1.2rem 0.2rem 1.2rem;
  text-align: right;
  color: rgb(92, 92, 92, 0.8);
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}

.date {
  font-family: 'Inter Regular';
  color: #82f9ff;
  margin-top: 0.1rem;
  font-size: 1rem;
}

.post {
  padding: 25px 35px 25px 20px;
  margin-top: 20px;
}

.post .title {
  font-family: 'Inter Extra Bold';
  color: rgb(241, 241, 241);
  font-size: 36px;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
}
